<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-segment [(ngModel)]="filter" *ngIf="!toggleInsert">
        <ion-segment-button (click)="changeParams()" [value]="enum" *ngFor="let enum of searchFilters;">
          {{enum}}
        </ion-segment-button>
      </ion-segment>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="displayInsert" (click)="toggleInsertTrack()">
        {{toggleInsert ? 'Mostrar listado' : 'Añadir canciones'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div id="searchBar">
      <ion-searchbar mode="ios" (keyup.enter)="search()" [(ngModel)]="query"
        placeholder="Introduce el nombre de la canción"></ion-searchbar>
      <ion-button (click)="search()"><ion-icon slot="end" name="search"></ion-icon>
        Buscar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid [fixed]="true">
      <ion-row class="ion-justify-content-center">
        <ion-card button *ngFor="let track of tracks">
          <ion-fab>
            <ion-fab-button size="small" *ngIf="toggleInsert" (click)="insertTrack(track)">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <div (click)="navigateToTrack(track._id)">
            <div id="img-container">
              <ion-img src="{{track.album.images[0].url}}"></ion-img>
            </div>
            <div id="card-info">
              <div>
                <p>{{track.name}}</p>
              </div>
              <div>
                <p *ngFor="let artist of track.album.artists">{{artist.name}}</p>
              </div>
              <div>
                <p>{{( track.duration_ms | date:'mm:ss')}} min</p>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>