<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div id="searchBar">
        <ion-searchbar mode="ios" (keyup.enter)="toggleInsert ?  searchSpotify() : search()" [(ngModel)]="query"
          placeholder="Introduce el nombre de la canción"></ion-searchbar>
        <ion-button (click)="toggleInsert ? searchSpotify() : search()"><ion-icon slot="end" name="search"></ion-icon>
          Buscar
        </ion-button>
      </div>
    </ion-title>
    <ion-buttons slot="end" *ngIf="this.authService.checkLogged()">
      <ion-button (click)="toggleInsertTrack()">
        {{toggleInsert ? 'Mostrar listado' : 'Añadir canciones'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-card button *ngFor="let track of tracks">
          <ion-button *ngIf="toggleInsert" shape="circle" (click)="insertTrack(track)"><ion-icon
              icon="add"></ion-icon></ion-button>
          <div [routerLink]="[track._id]">
            <div id="img-container">
              <ion-img src="{{track.album.images[0].url}}"></ion-img>
            </div>
            <div id="card-info">
              <div>
                <p>{{track.name}}</p>
              </div>
              <div>
                <p *ngFor="let artist of track.album.artists">{{artist.name}}</p>
              </div>
              <div>
                <p>{{( track.duration_ms | date:'mm:ss')}} min</p>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>