<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{searchTerm}}</ion-title>
  </ion-toolbar>
  <ion-searchbar mode="ios" (keyup.enter)="searchChanged()" [(ngModel)]="searchTerm"
    placeholder="Introduce el nombre de la canción"></ion-searchbar>
  <ion-button (click)="searchChanged()"><ion-icon slot="end" name="search"></ion-icon>
    Buscar
  </ion-button>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-card button *ngFor="let track of tracks">
          <div [routerLink]="[track.id]">
            <div id="img-container">
              <ion-img src="{{track.album.images[0].url}}"></ion-img>
            </div>
            <div id="card-info">
              <div>
                <p>{{track.name}}</p>
              </div>
              <div>
                <p *ngFor="let artist of track.album.artists">{{artist.name}}</p>
              </div>
              <div>
                <p>{{( track.duration_ms | date:'mm:ss')}} min</p>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>