<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="track">{{track.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="track" id="container">
    <div>
      <ion-card>
        <ion-img src="{{track.album.images[0].url}}" alt=""></ion-img>
      </ion-card>
    </div>
    <div id="info">
      <p><span>{{ track.duration_ms }}</span></p>
      <div id="main-info">
        <div>
          <span>{{ track.external_urls }}</span>
        </div>
        <div>
          <span>{{ track.popularity }}</span>
        </div>
        <div>
          <span *ngFor="let artist of track.album.artists">{{ artist.name }}</span>
        </div>
      </div>
      <!-- <p><span>{{ track.Country }}</span></p>
      <p>Director: <span>{{ track.Director }}</span></p>
      <p>Actors: <span>{{ track.Actors }}</span></p>
      <p>IMDB Rating: <span>{{ track.imdbRating }}</span></p> -->
    </div>
  </div>

</ion-content>