<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="track">{{track.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="track" id="container">
    <div>
      <ion-card>
        <ion-img src="{{track.album.images[0].url}}" alt=""></ion-img>
      </ion-card>
    </div>
    <div id="info">
      <div *ngFor="let artist of track.album.artists">
        <span>{{ artist.name }}</span>
      </div>
      <div id="main-info">
        <div>
          <span>{{ track.duration_ms | date: 'mm:ss' }} min</span>
        </div>
        <div>
          <span>{{ track.album.release_date }}</span>
        </div>

      </div>
    </div>
  </div>
  <comments [trackId]="trackId"></comments>

</ion-content>