<ion-content [fullscreen]="true">
  <ion-button style="position: absolute; top: 0; right: 0;" [routerLink]="['/login']">Login</ion-button>
  <div id="container">
    <h1>HIGH TRACKS</h1>
    <div id="searchBar">
      <ion-searchbar mode="ios" (keyup.enter)="search()" [(ngModel)]="query"
        placeholder="Introduce el nombre de la canción"></ion-searchbar>
      <ion-button (click)="search()"><ion-icon slot="end" name="search"></ion-icon>
        Buscar
      </ion-button>
    </div>
  </div>

</ion-content>